/.project
/.settings
/legacy-common/.classpath
/legacy-common/.factorypath
/legacy-common/.project
/legacy-common/.settings
/legacy-common/target
/legacy-orch-translator/.classpath
/legacy-orch-translator/.factorypath
/legacy-orch-translator/.project
/legacy-orch-translator/.settings
/legacy-orch-translator/legacy_orch_translator.log
/legacy-orch-translator/target
/legacy-sr-translator/.classpath
/legacy-sr-translator/.factorypath
/legacy-sr-translator/.project
/legacy-sr-translator/.settings
/legacy-sr-translator/legacy_sr_translator.log
/legacy-sr-translator/target
